@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <input type="text" id="participants" placeholder="New Participant" />
            <input type="button" id="add" value="Add Participant" />
            <input type="button" id="clear" value="Clear Participant" />
            <ul id="list"></ul>
        </div>
        <div class="col-md-6">
            <input type="button" id="shuffle" value="Shuffle" />
            <input type="button" id="stop" value="Stop" />
            <div id="display-box"></div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var interval;
        var participants = [];

        $(function () {
            var ao = $.connection.aOHub;

            ao.client.addParticipant = function (newParticipant) {
                participants.push(newParticipant);
                UpdateParticipantList();
            }

            ao.client.clearParticipants = function () {
                participants = [];
                UpdateParticipantList();
            }

            ao.client.startShuffle = function () {
                StartShuffle();
            };

            ao.client.stopShuffle = function (winner) {
                StopShuffle(winner);
            }

            $.connection.hub.start().done(function () {
                ao.server.getParticipants().done(function (result) {
                    participants = result;
                });

                $('#add').click(function () {
                    var newParticipant = $('#participants').val();
                    if (newParticipant != '') {
                        ao.server.addParticipant(newParticipant);
                        $('#participants').val('').focus();
                    }
                    
                });

                $('#clear').click(function () {
                    ao.server.clearParticipants();
                    $('#participants').val('').focus();
                });

                $('#shuffle').click(function () {
                    $('#participants').prop('disabled', true);
                    ao.server.shuffle();
                });

                $('#stop').click(function () {
                    $('#participants').prop('disabled', false);
                    ao.server.stop();
                });
            });
        });

        function StartShuffle() {
            var num = 0;
            interval = setInterval(function () {
                num = Math.floor(Math.random() * (participants.length - 1));
                $('#display-box').text(participants[num]);
            }, 100);
        }

        function StopShuffle(winner) {
            clearInterval(interval);
            $('#display-box').text(winner);
        }

        function UpdateParticipantList() {
            $('ul#list').empty();
            for (var i = 0; i < participants.length; i++) {
                $('ul#list').append('<li>' + participants[i] + '</li>')
            }
        }
    </script>
}
